ASSETS_PATH=/home/pi/prod/discord/assets
DISCORD_UI_PATH=/home/pi/prod/discord-ui
CONFIG_PATH=/home/pi/prod/discord/src/config.secret.json
APP_CONFIG_PATH=/home/pi/prod/discord/src/app.config.json
GALLERY_DL_CONF_PATH=/home/pi/prod/discord/gallery-dl.conf
