# Build directories
build
node_modules
obj
bin

# Swap files
*.swp
*.swo
~*

# Secret files
*.secret.*
*.secret
secret

# Tmp files
.cache/
tmp/
.nyc_output/


# Ignored directories
assets/images

# Server key files
assets/aleksa/*.pem
assets/aleksa/*.cnf
