{
    "info": "name this file config.secret.json and remove this attribute"

    "root": "absolute path to your project root e.g C:\\Users\\myUser\\Projects\\discord\\thisBot",

    "client": {
        "id": "unused",
        "secret": "unused"
    },
    "bot": {
        "id": "your bot id [unused]",
        "token": "you secret token here"
    }
}